:root {
    --celeste: #17F4B8;
    --celeste2: #14DBA6;
    --celeste3: #10B589;
    --verde-oscuro: #053629;
    --verde: #0B7559;
}

.navbar {
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 20px;
    z-index: 1;
    transition: linear .5s;
    align-items: center;
    justify-content: center;
}

.navbar-logo {
    height: 50px;
    line-height: 70px;
    cursor: pointer;
}

.nav {
    border: solid black 2px;
    padding: 4px;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.conntainer {
    width: 100%;
    height: 50px;
    background-color: var(--verde-oscuro);
    align-items: center;
    justify-content: center;
}

.wraper {
    width: 100%;
    max-width: 1300px;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding: auto;
}

.logo-container {
    margin-left: .5rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.logo-container p {
    margin: .3rem;
    font-size: 25px;
}

.item {
    color: black;
    height: 50px;
    position: relative;
    width: 60px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.item:hover {
    width: 180px;

}

.item::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 60px;
}

.item::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    transition: .5s;
    filter: blur(15px);
    z-index: -1;
    opacity: 0;
}

.item ion-icon {
    color: black;
    font-size: 1.75em;
    transition: .5s;
    transition-delay: .25s;
}

.item:hover ion-icon {
    transform: scale(0);
    transition-delay: 0s;
}

.item span {
    position: absolute;
}

.item .title {
    font-size: 1.1em;
    letter-spacing: .2em;
    transform: scale(0);
    transition: .5s;
    transition-delay: 0s;
}

.item:hover .title {
    transform: scale(1);
    transition-delay: .25s;
}

.item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: .5rem 2.5rem;
    font-size: 1.3rem;
    font-weight: 300;
    cursor: pointer;
    transition: .5s all ease;
}